* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: antiquewhite;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: antiquewhite;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contato {
  background-color: orange;
  padding: 8px 16px;
  border-radius: 20px;
  color: rgb(255, 255, 255)

}

.main {
  display: flex;
  flex: 1;
  width: 100%;
}

.foto_texto {
  width: 50%;
  padding: 10px;
  
}

.foto_texto img {
  width: 100%;
  height: auto;
  display: block;
}

.foto_texto h2 {
  
  margin: 20px 0 30px;
   font-weight: 900;
   letter-spacing: 0.5px;
   font-size: 40px;
}

.foto_texto p {
  
  color: #333;
  padding: 0 20px;
  font-weight: 400;
  line-height: 1.6;
}

.footer {
  background-color: #111;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  margin-right: 10px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
